<form class="was-validated" name="accountPersonForm" id="accountPersonForm" #accountPersonForm="ngForm" novalidate (submit)="onSubmit(accountPersonForm.valid)">
  <div class="container">
  <table class="table">
    <thead>
    <tr >
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Address</th>
    </tr>
    </thead>
    <tbody *ngFor="let ap of AccountPersons; let i = index">
    <tr scope="row">
      <td>
        <div *ngIf="firstNameInput.errors && firstNameInput.errors.required" class="alert-warning">First Name is required</div>
        <input 
               scope="col"
               type="text"
               id="firstNameInput{{i}}"
               name="firstNameInput{{i}}"
               class="form-control"
               #firstNameInput="ngModel"
               placeholder="Enter a First Name"
               required
               [(ngModel)]="ap.FirstName"
               [ngClass]="{ 'is-invalid' : accountPersonForm.submitted || firstNameInput.errors }">
      </td>
      <td>
        <div *ngIf="lastNameInput.errors && lastNameInput.errors.required" class="alert-warning">Last Name is required</div>
        <input 
               scope="col"
               type="text"
               id="lastNameInput{{i}}"
               name="lastNameInput{{i}}"
               #lastNameInput="ngModel"
               placeholder="Enter a Last Name"
               class="form-control"
               required
               [(ngModel)]="ap.LastName"
               [ngClass]="{ 'is-invalid' : accountPersonForm.submitted || lastNameInput.errors }">
      </td>
      <td>
        <div *ngIf="emailAddressInput.errors && emailAddressInput.errors.required" class="alert-warning">Email is required</div>
        <input 
               scope="col"
               type="text"
               id="emailAddressInput{{i}}"
               name="emailAddressInput{{i}}"
               #emailAddressInput="ngModel"
               placeholder="Enter a Email Address"
               class="form-control"
               required
               [(ngModel)]="ap.EmailAddress"
               (ngModelChange)="onEmailAddressChanged()"
               [ngClass]="{ 'is-invalid' : accountPersonForm.submitted || emailAddressInput.errors }">
      </td>
      <button (click)="updatePerson(ap)">Update</button>
    </tr>
    </tbody>
  </table>
  </div>
  <div style="text-align:center">
    <button id="submitButton" name="submitButton" type="submit" >Submit</button>
  </div>
</form>
