<form class="was-validated" name="accountPersonForm" id="accountPersonForm" #accountPersonForm="ngForm" novalidate (submit)="onSubmit()">
  <div class="container">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div>
  <table class="table">
    <thead>
    <tr >
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Address</th>
    </tr>
    </thead>
    <tbody *ngFor="let ap of AccountPersons; let i = index">
    <tr scope="row">
      <td >
        <input style="width:15em"
               type="text"
               id="firstNameInput{{i}}"
               name="firstNameInput{{i}}"
               #firstNameInput="ngModel"
               required
               [(ngModel)]="ap.FirstName"
               (ngModelChange)="onFirstNameChanged()"
               [ngClass]="{ 'ng-blurred' : accountPersonForm.submitted || firstNameInput.touched }">
      </td>
      <td>
        <input style="width:15em"
               type="text"
               id="lastNameInput{{i}}"
               name="lastNameInput{{i}}"
               #lastNameInput="ngModel"
               required
               [(ngModel)]="ap.LastName"
               (ngModelChange)="onLastNameChanged()"
               [ngClass]="{ 'ng-blurred' : accountPersonForm.submitted || lastNameInput.touched }">
      </td>
      <td>
        <div *ngIf="emailAddressInput.errors && emailAddressInput.errors.required" class="alert-warning">Email is required</div>
        <input style="width: 35em"
               scope="col"
               type="text"
               id="emailAddressInput{{i}}"
               name="emailAddressInput{{i}}"
               #emailAddressInput="ngModel"
               class="form-control"
               required
               [(ngModel)]="ap.EmailAddress"
               (ngModelChange)="onEmailAddressChanged()"
               [ngClass]="{ 'is-invalid' : accountPersonForm.submitted || lastNameInput.errors }">
      </td>
    </tr>
    </tbody>
  </table>
  </div>
  <li>
    <button id="submitButton" name="submitButton" type="submit" >Submit</button>
  </li>
</form>
